exportPattern("^[[:alpha:]]+")
export(print.stancode)
export(stancode)
S3method(print, stancode)
export(post.prior.check)
export(print.post.prior.check)
export(plot.post.prior.check)
S3method(print, post.prior.check)
S3method(plot, post.prior.check)
